body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}
.d-flex {
	display: flex;
}
.top-banner {
	background-image: url("images/top-banner.png");
	background-repeat: no-repeat;
}
section {
	padding-bottom: 150px;
}
.half-width {
	width: 40%;
	margin-left: 5%;
	padding-left: 2%;
}
.half-width img {
	width: 100%;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
h1 span,
.span {
	color: orange;
}
.btn {
	text-decoration: none;
	background: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 40px;
	border-radius: 5px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}
.dream-area {
	background-image: url("images/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}
.experience {
	background-image: url("images/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
}
.experience-items div {
	box-shadow: 5px 10px 40px gray;
}
#full-stack {
	border-left: 7px solid tomato;
}
#baby-web {
	border-left: 7px solid blue;
}
